body {
    color: #333333;
    font: 13px/20px "Lucida Grande",Arial,Sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #90cf79;
	margin: 0px;
}

h1 {
	color: #D33381;
	border-bottom: black 3px dotted;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0;
}

div.sidebar {
	float: right;
}

div.main {
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;	
	z-index:1;
	overflow: hidden;
	-moz-border-radius: 6px 6px 6px 6px;
}

div.content {
	width: 670px;
	float: left;
}

p.description {
	display: none;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
}
